:root{
    --background-dark-mode: #000000;
    --divs-background-dark-mode: #352f44;
    --hover-background: #2f2f2f;
    --text-dark-mode: rgb(255, 201, 14);
    --underline-dark-mode: rgb(239,228,176);
    --text-light-mode: #bebebe;

    --blue-1: #005c8f;
    --blue-2: #00334e;
    --dark-blue: #23262f;
    --gray-1: #c5c4c2;


    --background-light-mode: #888;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}


body{
    background-color: var(--blue-1);
    color: #0f0f0f;
    min-height: 100%;
}


header{
    width: 100vw;
    height: fit-content;
    top: 0;
    left: 0;
    position: fixed;
    background-color: var(--blue-2);
    z-index: 2;
}

#nombre{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500;
    text-shadow: 2px 1px 2px #000000;
    color: var(--text-light-mode);
}

#nombre.dark-theme{
    text-shadow: 2px 1px 2px #fff;
    background: var(--dark-blue);
    color: var(--text-dark-mode);
}

header.dark-theme{
    background-color: var(--dark-blue);
}

header a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-light-mode);
    font-size: 16px;
}

header a:hover{
    text-decoration: none;
    color: var(--text-light-mode);
    text-decoration: underline;
}

header img{
    width: 100px;
}

.dark-theme{
    background-color: var(--background-dark-mode);
    color: var(--text-dark-mode);
}

.dark-theme a{
    color: var(--text-dark-mode);
    text-decoration: none;
}



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

#navbar button{
    height: fit-content;
    color: var(--text-light-mode);
    border: 2px solid var(--text-light-mode);
    font-size: 16px;
}

#navbar button:hover{
    text-decoration: var(--text-light-mode) solid underline;
}

.dark-theme #navbar button{
    height: fit-content;
    color: var(--text-dark-mode);
    border: 2px solid var(--text-dark-mode);
}

.dark-theme #navbar button:hover{
    background-color: var(--background-light-mode);
    text-decoration: var(--underline-dark-mode) solid underline;
}

#navbar ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

#navbar li{
    padding: 10px;
    margin-top: 15px;
}

.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    display: none;
}

#container-info{
    margin-top: 150px;
    text-align: center;
    height: 100vh; 
    padding: 50px;
    color: var(--text-light-mode);
}

#container-info.dark-theme{
    color: var(--text-dark-mode);
}

#container-info h2{
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
}

#container-info p{
    font-size: 20px;
}

#container-info img{
    width: 250px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.glass{
    margin: auto;
    background-color: #fff1;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 25px;
}

#tecnologies-container{
    position: relative;
    text-align: center;
    width: 100%;
    height: 80vh;
    z-index: 1;
}

#tecnologies-container i{
    padding: 10px;
}

#tecnologies-container h3{
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text-light-mode);
}

#tecnologies-title.dark-theme{
    color: var(--text-dark-mode);
    background: transparent;
}

#tecnologies-child{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    margin: auto;
    margin-top: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    width: fit-content;
}

#tecnologies-title{
    grid-column: 1 / 5;
}

.skills{
    width: 0%;
    height: 30px;
    background-color: var(--gray-1);
    text-align: center;
    line-height: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.skills.dark-theme{
    width: 0%;
    height: 30px;
    background-color: var(--text-dark-mode);
    text-align: center;
    line-height: 30px;
    color: #000000;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.css.dark-theme, .html.dark-theme{
    background-color: var(--text-dark-mode);
    width: 70%;
}

.js.dark-theme{
    background-color: var(--text-dark-mode);
    width: 50%;
}

.bootstrap.dark-theme{
    background-color: var(--text-dark-mode);
    width: 80%;
}

.css, .html{
    animation-name: skillsCss;
    animation-duration: 3s;
    background-color: var(--gray-1);
    color: #000000;
    width: 70%;
}

.js{
    animation: 3s skillsJs;
    -webkit-animation: 3s skillsJs;
    background: var(--gray-1);
    color: #000000;
    width: 50%;
}

.bootstrap{
    animation: 3s skillsBootstrap;
    -webkit-animation: 3s skillsBootstrap;
    background-color: var(--gray-1);
    color: #000000;
    width: 80%;
}

@keyframes skillsBootstrap{
    from{
        width: 0%;
    }
    to{
        width: 80%;
    }
}

@keyframes skillsJs {
    from{
        width: 0%;
    }
    to{
        width: 50%;
    }
}


@keyframes skillsCss{
    from{
        width: 0%;
    }
    to{
        width: 70%;
    }
}


#projects-container{
    height: 100vh;
    text-align: center;
    padding: 50px;
}

.images{
    width: 80%;
}

#projects-container h3{
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 20px;
    color: var(--text-light-mode);
}

#projects-title.dark-theme{
    color: var(--text-dark-mode);
    background: transparent;
}

.card{
    margin: 10px 10px;
    height: 300px;
    width: fit-content;
    padding: 5px;
    background-color: var(--blue-1);
    color: var(--text-light-mode);
}

.card.dark-theme{
    background-color: var(--dark-blue);
    color: var(--text-dark-mode);
}

.card-img-top{
    padding: 20px;
}

.card-title{
    text-transform: uppercase;
}

footer{
    position: relative;
    top: 100vh;
    left: -15px;
    width: 100vw;
    background-color: var(--blue-2);
    color: var(--text-light-mode);
    text-align: center;
}

footer h3{
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 25px;
    font-size: 1.2em;
}

footer.dark-theme{
    background-color: var(--dark-blue);
    color: var(--text-dark-mode);
}

footer ul{
    list-style: outside;
    list-style: none;
}

footer li{
    padding: 5px 0;
    font-size: 15px;
}

footer a{
    color: var(--text-light-mode);
    text-decoration: none;
}

footer a:hover{
    text-decoration: var(--underline-dark-mode) solid underline;
    color: var(--text-light-mode);
}

@media (min-width: 320px) {

    #tecnologies-container{
        margin-bottom: 400px;
    }

    #tecnologies-child{
        width: fit-content;
        height: fit-content;
        grid-template-columns: 1fr;
    }

    #tecnologies-title{
        grid-column: 1 / 2;
    }

    .glass{
        width: 100%;
        text-align: center;
    }

    #container-info{
        margin-bottom: 200px;
    }

    #container-info-child{
        position: relative;
        text-align: center;
        width: 100%;
        height: fit-content;
        z-index: 1;
    }

    #container-info-child img{
        width: 50%;
    }

    #navbar ul{
        display: none;
    }

    #navbar ul.show{
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        background-color: var(--blue-2);
        height: 100vh;
        width: 250px;
        transition: margin-left 4s;
        -webkit-transition: margin-left 4s;
        -moz-transition: margin-left 4s;
        -ms-transition: margin-left 4s;
        -o-transition: margin-left 4s;
}

    #navbar ul.dark-theme.show{
        background-color: rgba(0, 0, 0, 0.8);
    }

    .menu-btn{
        display: block;
    }

    #navbar button{
        margin-right: 80px;
    }

    .card{
        margin: 20px;
        height: fit-content;
    }

    #projects-container img{
        width: 100%;
    }
    
    #contact-container{
        position: static;
        margin-top: 1900px;
        margin-bottom: -15px;
        margin-left: -15px;
    }

    .card-title{
        text-decoration: underline;
        font-size: 1.2rem;
    }
}

@media (min-width: 481px){

    #container-info{
        margin-bottom: 250px;
    }

    #tecnologies-child{
        width: fit-content;
        height: fit-content;
        grid-template-columns: 1fr 1fr;
    }

    #tecnologies-title{
        grid-column: 1 / 3;
    }

    #contact-container{
        position: static;
        margin-top: 1600px;
        margin-bottom: -15px;
        margin-left: -15px;
    }
}

@media (min-width: 769px){

    #tecnologies-container{
        margin-top: -150px;
        margin-bottom: 25px;
    }

    .card{
        height: 350px;
    }

    #projects-container{
        margin-bottom: 0;
    }

    #contact-container{
        position: static;
        margin-top: 900px;
    }
}

@media (min-width: 1025px){

    #navbar ul{
        display: flex;
    }

    #navbar ul.show{
        display: none;
    }

    .menu-btn{
        display: none;
    }

    #navbar button{
        margin-right: 0;
    }

    #tecnologies-container{
        margin-top: 200px;
        margin-bottom: -150px;
    }

    #tecnologies-child{
        grid-template-columns: repeat(4, 1fr);
    }

    #tecnologies-title{
        grid-column: 1 / 5;
    }
}