:root{
    --background-dark-mode: #000000;
    --divs-background-dark-mode: #352f44;
    --hover-background: #2f2f2f;
    --text-dark-mode: rgb(255, 201, 14);
    --underline-dark-mode: rgb(239,228,176);


    --background-light-mode: #888;
}



body{
    background-color: rgb(185, 122, 87);
    color: #0f0f0f;
}


header{
    width: 100vw;
    height: fit-content;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgb(99, 62, 41);
    z-index: 2;
}

header a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-dark-mode);
}

header a:hover{
    text-decoration: none;
    color: var(--text-dark-mode);
    text-decoration: underline;
}

header img{
    width: 100px;
}

.dark-theme{
    background-color: var(--background-dark-mode);
    color: var(--text-dark-mode);
}

.dark-theme a{
    color: var(--text-dark-mode);
    text-decoration: none;
}



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar{
    display: flex;
    align-items: center;
}

#navbar button{
    height: fit-content;
    color: var(--text-dark-mode);
    border: 2px solid var(--text-dark-mode);
}

#navbar button:hover{
    background-color: var(--hover-background);
    text-decoration: var(--underline-dark-mode) solid underline;
}

.dark-theme #navbar button{
    height: fit-content;
    color: var(--text-dark-mode);
    border: 2px solid var(--text-dark-mode);
}

.dark-theme #navbar button:hover{
    background-color: var(--background-light-mode);
    text-decoration: var(--underline-dark-mode) solid underline;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar li{
    padding: 10px;
    margin-top: 5px;
}

.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    display: none;
}

#container-info{
    margin-top: 150px;
    text-align: center;
    height: 100vh; 
    padding: 50px;
}

#container-info h2{
    text-decoration: var(--underline-dark-mode) solid underline;
}

#container-info p{
    font-size: 20px;
}

#container-info img{
    width: 250px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.glass{
    margin: auto;
    background-color: #f4f4f410;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 25px;
}

#tecnologies-container{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

#tecnologies-container i{
    padding: 10px;
}

#tecnologies-container h3{
    text-decoration: var(--underline-dark-mode) solid underline;
}

#tecnologies-child{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: fit-content;
    margin: auto;
}


#projects-container{
    height: 100vh;
    text-align: center;
    padding: 50px;
}

.images{
    width: 80%;
}

#projects-container h3{
    text-decoration: var(--underline-dark-mode) solid underline;
    padding-bottom: 20px;
}

footer{
    margin-top: 200px;
    width: 100%;
    text-align: center;
    background-color: rgb(99, 62, 41);
}

footer ul{
    list-style: none;
    text-align: center;
}

footer li{
    padding: 10px;
    font-size: 20px;
}

footer a{
    color: var(--text-dark-mode);
    text-decoration: none;
}

footer a:hover{
    text-decoration: var(--underline-dark-mode) solid underline;
    color: var(--text-dark-mode);
}

@media (max-width: 480px) {
    #tecnologies-container{
        margin-top: 100px;
        margin-bottom: -150px;
    }

    .glass{
        width: fit-content;
        text-align: center;
    }

    #container-info-child{
        position: relative;
        text-align: center;
        width: 100%;
        height: fit-content;
        z-index: 1;
    }

    #container-info-child img{
        width: 50%;
    }

    #navbar ul{
        display: none;
    }

    #navbar ul.show{
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        background-color: rgba(99, 62, 41, 0.8);
        transition: margin-left 4s;
        -webkit-transition: margin-left 4s;
        -moz-transition: margin-left 4s;
        -ms-transition: margin-left 4s;
        -o-transition: margin-left 4s;
}

    #navbar ul.dark-theme.show{
        background-color: rgba(0, 0, 0, 0.8);
    }

    .menu-btn{
        display: block;
    }

    #navbar button{
        margin-right: 80px;
    }

    #contact-container{
        position: relative;
        top: 100px;
        z-index: 0;
    }

    #projects-container img{
        width: 50%;
    }
}

@media (max-width: 768px){
    #contact-container{
        margin-top: -100px;
    }
}